<p><%= @resource.email %>，您好！</p>

<p>我们收到了您的密码重置请求。请通过以下链接设置新密码：</p>

<p><%= link_to '重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>此链接在 <b>6 小时</b>内有效。</p>

<p>如果您没有发起此请求，请忽略此邮件，您的密码不会被更改。</p>

<p>— SoloDev.Cool</p>
